/* Styles pour le formulaire */
[nz-form] {
    max-width: 600px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px; /* Espacement autour du formulaire */
    display:flex;
    flex-direction:column;
    
    align-items: center;
}

/* Styles pour les champs de saisie */
input[nz-input] {
    margin-left: 0.12cm;
    width: 8cm; /* Largeur à 100% du contenant */
    height: 30%; /* Augmenter la hauteur des champs */
    font-size:medium; /* Augmenter la taille de la police */
   // padding:2px; /* Ajouter du padding pour agrandir les champs */
    box-sizing: border-box;
    margin-bottom: 1px; 
    border-color:rgb(218, 223, 223);
    /* Inclure le padding dans la taille totale */
}

/* Styles pour le conteneur parent */
.parent {
    width: 100%;
    height: 100vh; /* Hauteur de la fenêtre de visualisation pour centrer verticalement 100vh */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

/* Styles pour le conteneur enfant (formulaire) */
.child {
    margin-top: -1cm;
    width: 400px; /* Largeur fixe */
    height: 400px; /* Hauteur fixe pour le carré */
    background-color: white;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   // padding: 20px; /* Espacement intérieur */
    box-sizing: border-box; 
    /* Inclure le padding et la bordure dans la largeur et la hauteur */
}




/* Styles pour le bouton de soumission du formulaire */
.login-form-button {
    width:60%; /* Largeur à 100% du contenant */
    height: 30%; /* Augmenter la hauteur des champs */
    font-size: medium; /* Taille de police moyenne */
   // margin-top: 15px; /* Espacement en haut du bouton */
    
}

/* Styles pour le lien "Mot de passe oublié" */
.login-form-forgot {
    float: right;
}

/* Styles pour tous les boutons */

button{
    background-color:#001529;
    border: none;
}

/* Styles pour une division contenant une image */
.imgDiv {
    width: 80%;
    text-align: center; /* Centrage du contenu */
    //margin-bottom: 40px;
    
    
}
